parameters:
    level: 2
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    paths:
        - web
        - config
        - models
        - controllers
        - views
        - assets
        - commands
